<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSI_LED_Custom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MSI_LED_Custom.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TempMin" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="TempMax" serializeAs="String">
                <value>70</value>
            </setting>
        </MSI_LED_Custom.Properties.Settings>
    </userSettings>
</configuration>